* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --background-color: #B17F59;
  --main-color: #A5B68D;
  --text-color: #EDE8DC;
  --lighter-main-color: #C1CFA1;
}

body {
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  background-color: var(--main-color);  
  position: flex;
  place-items: center;
  height: 33%;
  width: 33%;
  border-radius: 10%;
  color: var(--text-color);
}

button {
  text-decoration: none;
  color: var(--text-color);
  background-color: var(--main-color);
  border: none;
}

button:hover {
  background-color: var(--lighter-main-color);
  cursor: pointer;
  border-radius: 10px;
}

ul {
  list-style: none;
  display: grid;
  grid-template-areas: "in in in" "task edit delete";
  grid-template-columns: auto;
  grid-template-rows: auto;
}

