* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --background-color: #B17F59;
  --main-color: #A5B68D;
  --text-color: #EDE8DC;
  --lighter-main-color: #C1CFA1;
}

body {
  background-color: var(--background-color);
  display: flex;
  width: 33%;
  height: 33%;
}

main {
  background-color: var(--main-color);
}